@tailwind base;
@tailwind components;
@tailwind utilities;

/* 黑膠旋轉動畫 */
@keyframes vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-vinyl {
  animation: vinyl-spin 20s linear infinite;
}

/* 隱藏原生捲軸 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
